.btns {
  background-color: green;
  height: 12em;
  width: 10em;
}

.songs {
  background-color: grey;
  border: solid 2px red;
  margin-top: 0.7em;
}

.containers {
  border: solid green 2px;
}

#setListUl {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#adminBtn {
  background-color: red;
}

#listContainer {
  display: flex;
  justify-content: space-evenly;
}
