main {
  display: flex;
  flex-direction: column;
}

.btns {
  background-color: green;
  height: 12em;
  width: 10em;
}

.songs {
  background-color: grey;
  border: solid 2px red;
  margin: 0.7em 2em 0 0;
}

.setLabel {
  text-align: center;
}

#btnPlacement {
  display: flex;

  justify-content: space-around;
}

#flexContainer {
  display: flex;
  flex-direction: column;
}

#adminBtnPlacement {
  margin-top: 3em;
  margin: auto;
}

#adminBtn {
  background-color: red;
}

#setlistContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#toggle {
  background-color: red;
}

#pageBreak {
  margin: auto;
  margin: 2em 0 2em 0;
}

@media (max-width: 768px) {
  #btnPlacement,
  #adminBtnPlacement,
  #pageBreak {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #btnPlacement {
    flex-direction: column-reverse;
  }

  .btns {
    margin-bottom: 1em;
  }
}
