html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh; /* Disable horizontal scrolling */
}

main {
  display: flex;
  flex-direction: column;
}

.songs {
  margin: 0.7em 2em 0 0;
  text-align: center;
}

.setLabel {
  text-align: center;
}

.setContainer {
  display: flex;
  flex-direction: column;
}

#btnPlacement {
  display: flex;

  justify-content: space-around;
}

#flexContainer {
  display: flex;
  flex-direction: column;
}

#adminBtnPlacement {
  margin-top: 3em;
  margin: auto;
}

#adminBtn {
  background-color: red;
}

#setlistContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pageBreak {
  margin: auto;
  margin: 2em 0 2em 0;
}

#btnPlacement,
#adminBtnPlacement,
#pageBreak {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btnPlacement {
  flex-direction: row-reverse;
  justify-content: space-around;
}

#setlistContainer {
  display: flex;
  justify-content: space-around;
}

#fsContainer {
  width: 45%;
  height: auto;
  max-height: none;
  overflow-y: auto;
}

#sContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}

#deleteArea {
  background-color: red;
  width: 100vw;
  height: 20vh;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Align text inside the <p> element */
}
